<ion-app>
  <div *ngIf="(weatherData$ | async) as weather; else loading"> 
    <ion-header translucent >
      <ion-toolbar>
        <ion-title>
          {{ myDate | date:'fullDate':'+0000'}}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen >
      <ion-card>
        <img src="http:/openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="weather conditions icon">
        <ion-card-header>
          <ion-card-title>{{weather.main.temp}}°</ion-card-title>
          <ion-card-subtitle>{{weather.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                max temp: {{weather.main.temp_max}}°
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                min temp: {{weather.main.temp_min}}°
              </ion-label>
            </ion-item>  
            <ion-item>
              <ion-label>
                pressure: {{weather.main.pressure}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                humidity: {{weather.main.humidity}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>

  <ng-template #loading>
    Loading stuff...
  </ng-template>

</ion-app>
